body {
background-image: url("../img/black-repeating-background.jpg");
background-repeat: repeat;
overflow-x: hidden;
background-size: auto auto;

}

div {
  font-size: 30px;
  font-family: "Raleway";
  color: white;
}
