body {
  background-image: url("../img/black-repeating-background.jpg");
  background-repeat: repeat;
  overflow-x: hidden;
  background-size: auto auto;
}

div.about {
  font-family: "Raleway";
  background-color: white;
  width: 620px;
  height: 320px;
}

.WhoAmI-Title {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.WhoAmI {
  margin: 0;
  padding: 0;
  font-size: 20px;

}
