body {
  background-image: url("../img/Blue-Background.jpg");
}

p.title {
  font-family: "Raleway";
  font-size: 55px;
}

p.startText {
  font-family: "Raleway";
  font-size: 27px;
}

div.Softwares {
  position: absolute;
  height: 200px;
  width: 290px;
  background-color: transparent;
  left: 900px;
  bottom: 300px;
  border: 10px solid skyblue;
}

p.SoftwareTxt {
  font-family: "Raleway";
  position: relative;
  bottom: 10px;
  left: 30px;
  font-size: 50px;
}

p.contact {
  font-family: "Raleway";
  font-size: 23px;
  color: purple;
}
